.header_text {
    padding: 1rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 3px var(--primary);
}

.text_light {
    color: var(--black);
}

.text_dark {
    color: var(--white);
}