.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 1rem; */
    width: 100%;
    margin-bottom: -1rem
}

.nav_icons {
    display: flex;
    gap: 0.5rem;
    margin-right: 2rem;
}

.nav_hr {
    outline: 1.2px solid var(--primary);
    border: none;
    margin-top: -1.5rem;
}
