.text_fieldset {
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    width: 100%;
}

.error_fieldset {
    border: 2px solid red;
}

.text_label {
    font-weight: bold;
    font-size: 1.1rem;
}

.label_light {
    color: var(--black);
}

.label_dark {
    color: var(--white);
}

.text_input {
    width: 100%;
    background-color: transparent;
}