.categories {
    margin: 0 1rem 0 8rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

@media only screen and (max-width: 500px) {

    .categories {
        margin: 0 1rem;
        gap: 0.5rem;
    }

}