@import url('https://nembusui.netlify.app/styles.css');
@import "react-slideshow-image/dist/styles.css";

:root {
  --primary: hsl(182, 96%, 32%);
  --primary-hover: hsl(182, 96%, 40%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}

.link {
  grid-template-rows: repeat(2, auto);
  text-decoration: none;
}

